S3_ENDPOINT=dont for get https://
S3_BUCKET=secret
S3_ACCESS_KEY=secret
S3_SECRET_KEY=secret
DB_NAME= has to be postgres otherwise db configuration is on you
DB_USER= has to be postgres otherwise db configuration is on you
DB_PASS= has to be postgres otherwise db configuration is on you
DB_HOST= has to be postgres otherwise db configuration is on you
DB_PORT= has to be postgres otherwise db configuration is on you

DEBUG=False