<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>[x-cloak]{display:none}</style>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Cinema Bi Nama</title>
</head>
<body 
    class=" bg-slate-100 relative w-auto h-auto"

>
    {% include 'components/nav.html' %}
    {% include 'components/toast.html' %}

    
    <div class="bg-zinc-900 h-[400px] flex justify-center items-end">
        <section class="">
            {% include 'components/annimated_text.html' %}
        </section>

    </div>


    
        {% block page %}


        {% endblock page %}
    


<script defer>
        window.toast = function(message, options = {}){
            let description = '';
            let type = 'default';
            let position = 'top-right';
            let html = '';
            let expanded = 'true';
            if(typeof options.description != 'undefined') description = options.description;
            if(typeof options.type != 'undefined') type = options.type;
            if(typeof options.position != 'undefined') position = options.position;
            if(typeof options.html != 'undefined') html = options.html;
            
            window.dispatchEvent(new CustomEvent('toast-show', { detail : { type: type, message: message, description: description, position : position, html: html}}));
        }

        window.customToastHTML = `
            <div class='relative flex items-start justify-center p-4'>
                <div class='flex flex-col'>
                    <p class='text-sm font-medium text-gray-800'>New Friend Request</p>
                    <p class='mt-1 text-xs leading-none text-gray-800'>Friend request from John Doe.</p>
                    <div class='flex mt-3'>
                        <button type='button' @click='burnToast(toast.id)' class='inline-flex items-center px-2 py-1 text-xs font-semibold text-white bg-indigo-600 rounded shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'>Accept</button>
                        <button type='button' @click='burnToast(toast.id)' class='inline-flex items-center px-2 py-1 ml-3 text-xs font-semibold text-gray-900 bg-white rounded shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50'>Decline</button>
                    </div>
                </div>
            </div>`
</script>
</body>
</html>